# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:
- List popular languages for Data Science
- Commonly used libraries
- evaluating expressions with python

Some of the popular languages that Data Scientists use are:
1. Rstudios
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas

Data Science Tools
*****************
Juypter|R Studios|Github

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
C.G.